// ===========================================================================
// ==== HEADER
// ===========================================================================
.header {
  margin-bottom: $space-50;
  margin-top: $space-50;

  > .container {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }
}

.nav {
  &__list {
    gap: $space-30;
  }

  &__item {
    &:not(:last-child) {
      &::after {
        content: '|';
        padding-left: $space-30;
      }
    }
  }

  &__link {
    color: $black;
    font-family: $font-black;
    font-size: 1.25rem;
    text-decoration: none;
  }
}
