@use 'sass:math';

.button {
  background-color: transparent;
  border: 2px solid $black;
  color: $black;
  font-family: $font-black;
  line-height: 1;
  padding: $space-20 $space-50;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s ease-out, border-color 0.2s ease-out,
    color 0.2s ease-out;

  &:focus,
  &:hover {
    background-color: $black;
    color: $white;

    .button__icon {
      fill: $white;
    }
  }

  &--reversed {
    border-color: $black;
    color: $black;

    &:focus,
    &:hover {
      background-color: $black;
      color: $white;
    }
  }

  &--solid {
    background-color: $white;
    color: $black;

    &:focus,
    &:hover {
      background-color: $black;
      color: $white;
    }

    &.button--reversed {
      background-color: $black;
      color: $white;

      &:focus,
      &:hover {
        background-color: $white;
        border-color: $black;
        color: $black;
      }
    }
  }

  span {
    display: inline-block;
    transform: translateY(-1px);
  }

  &__icon {
    display: inline;
    height: 12px;
    margin-left: $space-20;
    transition: fill 0.2s ease-out;
    width: 12px;
  }
}
