.work {
  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: $space-70;
  }

  &__heading {
    text-align: center;

    h1 {
      font-family: $font-med;
      font-size: 1rem;
      margin-bottom: $space-10;
    }

    p {
      margin-bottom: $space-40;
    }
  }

  &__images {
    &-list {
      margin-top: $space-50;
    }

    &-item {
      &:not(:first-child) {
        margin-top: $space-50;
      }
    }
  }
}
